.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}
.card {
  border: 1px solid black;
  margin: 1% 0%;
  width: 50%;
  display: inline-block;
  text-align: center;
}

.card2 {
  border: 1px solid black;
  margin: 3% 0%;
  width: 75%;
  display: inline-block;
  text-align: center;
}

.results {
  padding-top: 1%;
}

.cardHeader {
  background-color: lightgray;
  padding-left: 1%;
}

h5 { 
  font-size: 1.25em;
}
